*{
    margin: 0px;
    padding: 0px;
}   
body
{
    background-color: #eeeeee;
}
#wrapper
{
    width: 100%;
    margin: auto;
}

.logo
{
    position: absolute;
    z-index: -1;
    height: 105px;
    width: 94px;
    margin: 0px;
    display: inline-block;
    cursor: pointer;
}
.list
{
    display: inline-block;
    position: relative;
    z-index: -2;
    left: 2%;
    background-color: #2909db;
    width: 90%;
    height: 44px;
    margin: 0px;
    border-radius: 3px;
    
}
.list ul
{
    position: absolute;
    z-index: -2;
    right: 0%;
    width: 90%;
    height: 50px;
    padding: 0px;
    margin: 0px;
}
.list li
{
    float: right;
    display: inline-block;
    font-family: "微軟正黑體";
    font-weight: bold;
    height: 18px;
    font-size: 20px;
    line-height: 18px;
    color:#EDF2C5;
    margin: 15px 40px 16px 20px;

}

.button
{
    display: inline-block;
    position: absolute;
    float: right;
    height: 44px;
    width: 10%;
    padding-right: 5%;
}
.button::before
{
    position: absolute;
    z-index: -2;
    content: '';
    top: 0; right: 0; bottom: 0; left: 0;
    background: rgb(5, 110, 180);
    transform: skew(-30deg);
}
.button_fb img,.button_ig img,.button_youtube img
{
    width: 25px;
    height: 25px;
}
.button_fb,.button_youtube,.button_ig
{

    float: right;
    width: 25px;
    height: 25px;
    padding: 10px 15px 8px 0px;
}

#all
{
    position: relative;
    top: -5px;
    z-index: -5;
    width: 100%;
    margin: 0 auto;
}
#main_img
{
    position: relative;
    z-index: -4;
    width: 100%;
}
#main_img img
{
    width: 100%;
}

#menu
{
    position: relative;
    top: -30px;
    float: right;
}
#menu img
{
    cursor: pointer;
}

.content
{
    position: relative;
}

