ol, ul {
  list-style: none;
}

body,html 
{
  width: 100%;
  height: 100%;
}

#page-top
{
  background-color:#eeeeee;
  width: 100% ;
  height: 1360px ;
}

#mainNav
{
  width: 100%;
  height: 55px;
  margin-bottom: 0px;
  background-color: #00ffff
}

.logo
{
  width: 64px;
  height: 83px;
  margin: 0px;
  margin-left: -16px;
  margin-top: -16px;
}

#navbarResponsive ul
{
  float: right;
}

#navbarResponsive li
{
  display: inline-block;
  list-style-type:none;
  font-family: "Arial Black";
  font-size: 25px;
  padding: 0px;
  margin-top: 7.5px;
  color:#333333;
  margin-right: 60px;
}

.main_img img
{
  float: left;
  width: 100%;
  height:100%;
  margin-bottom: 12px;
}

.news h2
{

}


.content
{
  width: 960px ;
  height: 1280px ;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  /*margin: 0px 0px;*/
}

.foot
{
  margin-top: 50px;
  width: 100%;
  background-color: #00ffff;
}

.footer
{
  background-color: #00ffff;
}
#sponsor
{
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: 75px;
  
}

#sponsor li
{
  margin-top: 27px;
  margin-left: 70px;
  float: left;
  display: inline;
}

#sponsor img
{
  width: 100%;
  height: 100% ; 
}

#link
{
  width: 100%;
  height: 75px;
  
}

#link li
{
  font-size: 20px;
  margin-left: 75px;
  float: left;
  display: inline;
}

#link img
{
  width: 30px;
  height: 30px; 
}

#info
{
  width: 100%;
  height: 75px;
  
}

#info li
{
  float: left;
  display: inline-block;
  margin-left: 150px;
}